body {
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
    background-color: #eeeff2;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-items: flex-end;   
}

ul {
    display: inline;
    list-style-type: none;
    height: 60px;
    margin: 0;
    padding: 5px;
    text-align: center;
    width: 150%;

}

li {
    display: inline-block;
}

ul a {
    text-decoration: none;
    color: royalblue;
    width: 100px;
    display: block;
    padding: 15px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

li img {
    padding: 1px;
}

#left {
    /* display: inline; */
    float: left;
}

.col-1 {
    display: flex;
    flex:1;
    flex-basis: 2%;
    flex-direction: column;
    justify-content: flex-start;
    order:1;
}

.col-2 {
    flex:1;
    order:2;
    flex-basis: 1%;
    justify-content: flex-end;
    margin-top: 7%;
    font-family: Arial, Helvetica, sans-serif;
}

.col-3 {
  
    display: flex;
    flex:1;
    width: 25%;
    justify-content: flex-end;
    align-self: flex-start;
    font-size: 25px;
    order:3;
}

#col-2 h1{
    display:flex;
    font-size: 30px;
}

#form-container {
    background: white;
    border-style: solid;
    border-color: darkgray;
    border-width: 1px;


}

#footer-form {
    background: #eeeff2;
    width: 100%;
    height: 50px;
 
}


#logo {
    display: block;
    margin-left: auto;
    margin-right: auto
}

#items {
    display: block;
    margin-left: auto;
    margin-right: auto
}

#sign-in-btn {
    display:flex;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 27%;
    color: white;
    font-size: 17px;
    border: 3px;
    border-bottom-color: black;
    border-radius: 5px;
    background: steelblue;
    height: 40px;
}

#btn-form {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 17px;
    border: 3px;
    border-bottom-color: black;
    border-radius: 5px;
    background: steelblue;
    width: 100%;
    height: 40px;
}

#div-btn-form {
    padding-left: 5%;
    padding-right: 5%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}


#corner-btn {
    display: inline;

}

#footer p {
    font-size: 14px;
}

#footer-form p {
    font-size: 14px;
}

#txt-1 {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 17px;
}

#a-1 {
    font-size: 15px;
}


#p-agree{
    font-size: 15px;
}

#p-already{
    font-size: 18px;
}

#ius-hosted-ui-navegation-account-recovery-link{
    font-size: 18px;
}

#footer{
    display: flex;
    flex:1;
    padding-top: 2%;
    width: 100%;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.email{
    top: 0;
    right: 100%;
    padding-left: 5%;
    padding-right: 5%
}

.phone{
    top: 0;
    right: 100%;
    padding-left: 5%;
    padding-right: 5%
}

.pass{
    top: 0;
    right: 100%;
    padding-left: 5%;
    padding-right: 5%
}

.textCenter{
    text-align: center;
}